@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Karla:wght@400;700&family=League+Spartan:wght@400;500;700&display=swap');


    
@media  all and (min-width: 450px){




body{
    background-color: hsl(204, 43%, 93%);
}

main{
    width: 40em;
    height: 30em;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
    background-color: white;
    flex-direction: column;
    margin-top: 4em;


}

.block1{
    width: 40em;
    height: 15em;
    background-color: white;
    border-radius: 10px;
    font-family: 'Karla';
    align-items: left;
    
}
.block2{
    display: flex;
    flex-direction: row;
    width: 40em;
    height: 16.5em;
    
}
.block3{
    
    background-color:hsl(179, 62%, 43%) ;
    border-bottom-left-radius: 10px;
    width: 20em;
    
}

.block4{
    border-bottom-right-radius: 10px;
    background-color: #4abebd;
    width: 20em;
}

.block4 .text1{
    width: 20em;
}

.block1 .text{
    margin-left: 1.5em;
    color: #3eb7b7;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1.2em;
}
.block1 .text1{
    margin-left: 2.3em;
    color: #bcdc3e;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 0.5em;

}

.block1   .text2{
    margin-left: 2.5em;
    color: #b8bec7;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1em;
    width: 35em;
    line-height: 1.5;
    font-family: 'Karla';
}

.block3 .text{
    color: white;
    font-family: 'Karla';
    margin-left: 1.5em;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top:1.5em;
    margin-bottom: 0.9em;
}

.block3 .text1{
    color:white;
    font-family: 'Karla';
    margin-left: 1.5em;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

a{
    color: #67cdcb;
    font-size: 1rem;
}
.block3 .text2{
    font-family: 'Karla';
    margin-left: 1.7em;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #b9e7ec;
}

button{
    background-color: #bfdf32;
    color: white;
    border: none;
    width: 15rem;
    height: 3rem;
    margin-left: 2em;
    border-radius: 4px;
    margin-top: 2rem;

}

.block4 .text{
    color: white;
    font-family: 'Karla';
    margin-left: 1.8em;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top:1.5em;
    margin-bottom: 0.9em;

}

.block4 .text1{
    margin-left: 2em;
    font-size: 1.3rem;
    color:#b9e7ec;
    width: 15em;
    font-family: 'Karla';
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 400;

}
}
@media all and (max-width: 400px) {

    body{
        background-color: hsl(204, 43%, 93%);
    }

    .block1{
        height: 15em;
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: white;
        flex-direction: column;
        margin-top: 3em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .block3{
        height: 15em;
        display: flex;
        justify-content: center;
        background-color:hsl(179, 62%, 43%);
        margin: auto;
        flex-direction: column;
        
    }
    .block4{
        height: 15em;
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: #4abebd;
        flex-direction: column;
        margin-bottom: 9em;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .block1 .text{
        margin-top: -10px;
        margin-left: 1.5em;
        color: #3eb7b7;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1em;
        font-family: 'Karla';
    }

    .block1 .text1{
        margin-left: 2em;
        color: #bcdc3e;
        font-size: 0.8rem;
        font-weight: 700;
        margin-top: 0.5em;
        font-family: 'Karla';
    
    }
    
    .block1   .text2{
        margin-left: 2.5em;
        color: #b8bec7;
        font-size: 0.7rem;
        font-weight: 700;
        margin-top: 1em;
        width: 20em;
        line-height: 1.5;
        font-family: 'Karla';
        line-height: 2;
    }
    .block3 .text{
        margin-top: -8px;
        margin-left: 1.5em;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1em;
        font-family: 'Karla';
    }
    .block3 .text1{
        margin-left: 1.4rem;
        color: white;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1em;
        font-family: 'Karla';
    }
    .block3 .text2{
        font-family: 'Karla';
        margin-left: 1.7em;
        font-size: 0.9rem;
        margin-top: -1rem;
        color: #ffffff;
    }
    
    
    a{
        color: #67cdcb;
        font-size: 1rem;
    }
    button{
        background-color: #bfdf32;
        color: white;
        border: none;
        width: 14rem;
        height: 2.7rem;
        margin-left: 2em;
        border-radius: 4px;
        margin-top: 2rem;
        font-family: 'Karla';
        font-weight: 700;
    
    }
    .block4 .text{
        margin-top: -8px;
        margin-left: 1.5em;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1em;
        font-family: 'Karla';
    }
    .block4 .text1{
        margin-left: 1.5em;
        font-size: 1.3rem;
        color:#b9e7ec;
        width: 15em;
        font-family: 'Karla';
        font-size: 1rem;
        margin-top: 0.5rem;
        font-weight: 400;
    
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body{
        background-color: hsl(204, 43%, 93%);
    }

    .block1{
        height: 15em;
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: white;
        flex-direction: column;
        margin-top: 6em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .block3{
        height: 15em;
        display: flex;
        justify-content: center;
        background-color:hsl(179, 62%, 43%);
        margin: auto;
        flex-direction: column;
        
    }
    .block4{
        height: 15em;
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: #4abebd;
        flex-direction: column;
        margin-bottom: 9em;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .block1 .text{
        margin-top: -10px;
        margin-left: 1.5em;
        color: #3eb7b7;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1em;
        font-family: 'Karla';
    }

    .block1 .text1{
        margin-left: 2em;
        color: #bcdc3e;
        font-size: 0.8rem;
        font-weight: 700;
        margin-top: 0.5em;
        font-family: 'Karla';
    
    }
    
    .block1   .text2{
        margin-left: 2.5em;
        color: #b8bec7;
        font-size: 0.7rem;
        font-weight: 700;
        margin-top: 1em;
        width: 20em;
        line-height: 1.5;
        font-family: 'Karla';
        line-height: 2;
    }
    .block3 .text{
        margin-top: -8px;
        margin-left: 1.5em;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1em;
        font-family: 'Karla';
    }
    .block3 .text1{
        margin-left: 1.4rem;
        color: white;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1em;
        font-family: 'Karla';
    }
    .block3 .text2{
        font-family: 'Karla';
        margin-left: 1.7em;
        font-size: 0.9rem;
        margin-top: -1rem;
        color: #ffffff;
    }
    
    
    a{
        color: #67cdcb;
        font-size: 1rem;
    }
    button{
        background-color: #bfdf32;
        color: white;
        border: none;
        width: 14rem;
        height: 2.7rem;
        margin-left: 2em;
        border-radius: 4px;
        margin-top: 2rem;
        font-family: 'Karla';
        font-weight: 700;
    
    }
    .block4 .text{
        margin-top: -8px;
        margin-left: 1.5em;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1em;
        font-family: 'Karla';
    }
    .block4 .text1{
        margin-left: 1.5em;
        font-size: 1.3rem;
        color:#b9e7ec;
        width: 15em;
        font-family: 'Karla';
        font-size: 1rem;
        margin-top: 0.5rem;
        font-weight: 400;
    
    }
}
